# Cheat Sheet for Pandas

Pandas is a library built on top of NumPy to read data sets from various formats
https://pandas.pydata.org/

In [17]:
#First Let's import the panda library
import pandas as pd
import numpy as np

In [7]:
#Read data from a CSV in to a data frame
dFrame = pd.read_csv("https://raw.githubusercontent.com/TechieBIN/graphdef/master/salaries.csv")

In [9]:
print(dFrame)

   Name  Salary  Age
0  John   40000   78
1   Sam   80000   22
2   Amy   60000   43

In [10]:
#To select a specific column
print(dFrame['Name'])

0    John
1     Sam
2     Amy
Name: Name, dtype: object

In [13]:
#To select a specific column with a specific condition
print(dFrame[dFrame['Age'] > 25])

   Name  Salary  Age
0  John   40000   78
2   Amy   60000   43

In [15]:
# Basic summary
print(dFrame.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Name      3 non-null object
Salary    3 non-null int64
Age       3 non-null int64
dtypes: int64(2), object(1)
memory usage: 152.0+ bytes
None

In [16]:
# Basic statistical summary
print(dFrame.describe())

        Salary        Age
count      3.0   3.000000
mean   60000.0  47.666667
std    20000.0  28.290163
min    40000.0  22.000000
25%    50000.0  32.500000
50%    60000.0  43.000000
75%    70000.0  60.500000
max    80000.0  78.000000

In [24]:
#Generate a matrix, add columns and add to a data frame
mArr = np.arange(10,20).reshape(5,2)
dFrame = pd.DataFrame(data=mArr,columns=['Key','Value'])
dFrame

   Key  Value
0   10     11
1   12     13
2   14     15
3   16     17
4   18     19